body{
    background-color: rgba(228, 228, 66, 0.866);
}
div ul li{
    display: inline;
    float: left;
    padding-left: 100px;
}

div .uli {
    display: inline;
    float: left;
    margin-left: 700px;
   
}
