.div1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3pEOFbogertMfcQwxP8FG5-05M48xqM8G_j5f5Km37LLQNHKc4Q2ZkuHjcry0qRpKBT4&usqp=CAU);
    text-align: center;
}
.hr1{
    background-color: red;
    height: 20px;
    width:100%;
}
h5{
    text-align:left;
    float:left;
    margin-left:10px;
    margin-right:500px;
}
hr{
    width: 100%;
}
h1{
    text-align:center;
    font-size:50px;
    
}
.pra1{
   float:left;
   text-align: justify;
   width:500px;
   text-indent:50px;
}
.imag1{
    float: left;
   margin-left: 10px;
   margin-right:20px;
    

}
.pra2{
    float:left;
    text-align: justify;
    width: 500px;
    text-indent:70px;
}

